<span class="title">{{ words.History }}</span>

<div
  *ngVar="{ history: history$ | async, historyDates: historyDates$ | async } as templateData"
  class="content bg-brown"
>
  <ng-container *ngIf="templateData.historyDates?.length; else noHistoryYet">
    <app-daily-history-item
      *ngFor="let date of templateData.historyDates; last as isLast"
      [date]="date"
      [history]="templateData.history"
      [ngClass]="{
        last: isLast
      }"
    ></app-daily-history-item>
  </ng-container>
</div>

<ng-template #noHistoryYet>
  <span class="no-history text-brown">{{ words.NoHistoryYet }}</span>
</ng-template>
