@import 'src/styles/history';
@import 'src/styles/palette';

:host {
  display: flex;
  flex-direction: column;
  @include boxStyles($brown, $beige);

  .date {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px dashed $brown;
  }

  .wrapper {
    border-bottom: 1px dashed $brown;
    margin: 0 0 12px;
  }
}
