:host {
  margin-right: 50px;
}
.balance {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px dashed black;
  &__title {
    margin: 0 0 15px;
    font-size: 20px;
  }

  &__value {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 15px;
    text-align: center;
  }

  &__reset {
    font-size: 16px;
    &:not(:last-of-type) {
      margin: 0 0 15px;
    }
  }
}
