@import "src/styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include boxStyles();

  .title {
    text-align: center;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: default;
  }

  .value {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: default;
  }
}
