<div *ngIf="!(isConfirmationOpen$ | async)" class="buttons">
  <span class="title text-beige">{{ words.Reset }}</span>

  <app-button (click)="openConfirmation(flows.ResetTables)">
    {{ words.Tables }}
  </app-button>

  <app-button (click)="openConfirmation(flows.ResetBalance)">
    {{ words.Balance }}
  </app-button>

  <app-button (click)="openConfirmation(flows.CleanHistory)">
    {{ words.DailyHistory }}
  </app-button>

  <app-button (click)="openConfirmation(flows.CleanMonthlyHistory)">
    {{ words.MonthlyHistory }}
  </app-button>
</div>

<div *ngIf="isConfirmationOpen$ | async" class="confirmation">
  <span class="confirmation__message text-beige" ngSwitch="{{ flow$ | async }}">
    <ng-container *ngSwitchCase="flows.ResetTables">{{ words.Clean }} {{ words.Tables.toLowerCase() }}?</ng-container>

    <ng-container *ngSwitchCase="flows.ResetBalance">{{ words.Clean }} {{ words.Balance.toLowerCase() }}?</ng-container>

    <ng-container *ngSwitchCase="flows.CleanHistory">
      {{ words.CleanHistory }} {{ words.DailyHistory.toLowerCase() }}?
    </ng-container>
    
    <ng-container *ngSwitchCase="flows.CleanMonthlyHistory">
      {{ words.CleanHistory }} {{ words.MonthlyHistory.toLowerCase() }}?
    </ng-container>
  </span>
  <div class="confirmation__buttons">
    <app-button (click)="resolveAction()">{{ words.Yes }}</app-button>
    <app-button (click)="closeConfirmation()">{{ words.No }}</app-button>
  </div>
</div>
