:host {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px grey;
  overflow: hidden;

  .title {
    position: sticky;
    top: 0;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 20px;
    text-align: center;
  }

  .date {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid black;
    text-align: center;
  }

  .monthly-item {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 5px;
    margin-left: 15px;

    .expenses {
      color: red;
    }

    .income {
      color: green;
    }

    .balance {
      color: blue;
    }
  }

  .content {
    overflow-y: scroll;
    margin-right: -15px;
    margin-bottom: -15px;
    height: 100%;
  }

  .no-history {
    display: block;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .date-wrapper {
    border: 1px solid black;
    border-radius: 5px;

    &:not(:last-child) {
      margin: 0 0 15px;
    }
  }

  .bold {
    font-weight: bold;
  }
}
