<p class="title">{{ words.MonthlyHistory }}</p>

<div class="content">
  <ng-container *ngIf="history$ | async as history">
    <ng-container *ngIf="(historyDates$ | async)?.length; else noHistoryYet">
      <ng-container *ngFor="let date of historyDates$ | async">
        <app-monthly-history-item
          [date]="date"
          [history]="history"
        ></app-monthly-history-item>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-template #noHistoryYet>
    <span class="no-history">{{ words.NoHistoryYet }}</span>
  </ng-template>
</div>
