<div class="history">
  <span>{{ words.History }}</span>
</div>
<ng-container *ngFor="let date of historyDates$ | async">
  <div class="date-wrapper">
    <div class="date">{{ date }}</div>

    <ng-container *ngIf="history$ | async as history">
      <ng-container
        *ngIf="history[date][tableTypes.Expenses] as expensesHistoryItems"
      >
        <app-transaction-record
          *ngIf="expensesHistoryItems.length"
          [tableTitle]="tableTitles.Expenses"
          [tableType]="tableTypes.Expenses"
          [items]="expensesHistoryItems"
        ></app-transaction-record>
      </ng-container>

      <ng-container
        *ngIf="history[date][tableTypes.Income] as incomeHistoryItems"
      >
        <app-transaction-record
          *ngIf="incomeHistoryItems.length"
          [tableTitle]="tableTitles.Income"
          [tableType]="tableTypes.Income"
          [items]="incomeHistoryItems"
        ></app-transaction-record>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
