<div class="history">
  <span>{{ words.History }}</span>
</div>
<ng-container *ngFor="let record of historyRecords$ | async">
  <div class="date-wrapper">
    <div class="date">{{ record.date }}</div>

    <app-transaction-record
      *ngIf="record.record.expenses.length"
      [tableTitle]="tableTitles.Expenses"
      [tableType]="tableTypes.Expenses"
      [record]="record"
    ></app-transaction-record>

    <app-transaction-record
      *ngIf="record.record.income.length"
      [tableTitle]="tableTitles.Income"
      [tableType]="tableTypes.Income"
      [record]="record"
    ></app-transaction-record>
  </div>
</ng-container>
