@import 'src/styles/mixins';
@import 'src/styles/palette';

:host {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: $orange;
  width: 32px;
  height: 48px;
  z-index: 1;
  padding: 0 8px 8px;
  clip-path: polygon(100% 0, 100% 100%, 50% 70%, 0 100%, 0% 0%);

  .text {
    color: $beige;
    font-size: 12px;
    user-select: none;
  }
}
