@mixin boxStyles {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px grey;
  overflow: hidden;
}

@mixin scrollBox() {
  overflow-y: auto;
  margin-right: -10px;
  margin-bottom: -10px;
  padding-right: 5px;
  height: 100%;
}
