$main-bg: #ffe7c3;

$beige: #f4d7ab;
$orange: #d44d1e;
$red: #881d1d;
$dark-green: #367055;
$light-green: #72bd96;
$brown: #5e412f;
$blue: #3a6289;
$light-blue: #68aeb8;

.bg-red {
  background-color: $red;
}

.text-red {
  color: $red;
}

.bg-dark-green {
  background-color: $dark-green;
}

.text-dark-green {
  color: $dark-green;
}

.bg-light-green {
  background-color: $light-green;
}

.text-light-green {
  color: $light-green;
}

.bg-blue {
  background-color: $blue;
}

.text-blue {
  color: $blue;
}

.bg-orange {
  background-color: $orange;
}

.text-orange {
  color: $orange;
}

.bg-beige {
  background-color: $beige;
}

.text-beige {
  color: $beige;
}

.bg-brown {
  background-color: $brown;
}

.text-brown {
  color: $brown;
}
