:host {
  .expenses,
  .income {
    font-size: 16px;
    font-weight: bold;
  }

  .expenses {
    color: red;
  }

  .income {
    color: green;
  }

  .table-title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
  }

  .add {
    font-weight: bold;
    color: dodgerblue;
    padding-left: 15px;
    margin: 0 0 5px;
  }

  .record {
    padding-left: 15px;

    &:not(:last-child) {
      margin: 0 0 5px;
    }
  }
}
