@import "src/styles/mixins";

:host {
  display: block;
  @include boxStyles();

  .no-chart-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
  }
}
