:host {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  align-items: start;
  column-gap: 30px;
  margin: 20px;
  height: calc(100% - 40px);

  .controls {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 15px;
    height: 100%;
  }

  .info {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 15px;
    overflow-y: hidden;
    padding: 15px;
    margin: -15px;
  }
}
