<div class="left-section">
  <app-table
    [tableTitle]="tablesTitlesEnum.Expenses"
    [tableType]="tablesTypesEnum.Expenses"
  ></app-table>
  <app-table
    [tableTitle]="tablesTitlesEnum.Income"
    [tableType]="tablesTypesEnum.Income"
  ></app-table>

  <app-expenses-chart></app-expenses-chart>
  <app-income-chart></app-income-chart>
</div>

<div class="info">
  <app-current-balance></app-current-balance>
  <app-daily-history></app-daily-history>
  <app-monthly-history></app-monthly-history>
</div>

<div class="controls">
  <app-add-form></app-add-form>
  <app-add-category></app-add-category>
  <app-data-controls></app-data-controls>
</div>
