:host {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  align-items: start;
  column-gap: 15px;
  padding: 15px;
  box-sizing: border-box;
  height: 100%;

  .left-section {
    display: grid;
    grid-template-areas:
      "a b"
      "c d";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
    height: 100%;
    overflow-y: hidden;
    padding: 15px;
    margin: -15px;
  }

  .controls {
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 15px;
    height: 100%;
  }

  .info {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    row-gap: 15px;
    overflow-y: hidden;
    padding: 15px;
    margin: -15px;
  }
}
