<app-table
  [tableTitle]="tablesTitlesEnum.Expenses"
  [tableType]="tablesTypesEnum.Expenses"
></app-table>
<app-table
  [tableTitle]="tablesTitlesEnum.Income"
  [tableType]="tablesTypesEnum.Income"
></app-table>

<div class="info">
  <app-current-balance></app-current-balance>
  <app-transactions-history></app-transactions-history>
</div>

<div class="controls">
  <app-add-form></app-add-form>
  <app-add-category></app-add-category>
  <app-data-controls></app-data-controls>
</div>

<div *ngIf="isMessageShown$ | async" class="message">
  <button type="button" (click)="reset()">{{ words.MonthlyReset }}</button>
</div>
