<div class="left-section">
  <app-table
    [tableTitle]="tablesTitlesEnum.Expenses"
    [tableType]="tablesTypesEnum.Expenses"
    [rightColumnTitle]="words.Spent"
  ></app-table>

  <app-table
    [tableTitle]="tablesTitlesEnum.Income"
    [tableType]="tablesTypesEnum.Income"
    [rightColumnTitle]="words.Received"
  ></app-table>

  <!-- <app-expenses-chart></app-expenses-chart> -->
  <!-- <app-income-chart></app-income-chart> -->
  <app-pie-chart [title]="tablesTitlesEnum.Expenses"></app-pie-chart>
  <app-pie-chart [title]="tablesTitlesEnum.Income"></app-pie-chart>
</div>

<div class="info">
  <app-current-balance></app-current-balance>
  <app-history [title]="words.DailyHistory" [historyType]="historyTypes.Daily"></app-history>
  <app-history [title]="words.MonthlyHistory" [historyType]="historyTypes.Monthly"></app-history>
</div>

<div class="controls">
  <app-add-form></app-add-form>
  <app-add-category></app-add-category>
  <app-data-controls></app-data-controls>
</div>
