<div *ngIf="(flow$ | async) === undefined" class="choose-action">
  <span class="title">{{ words.CategoryManagement }}</span>
  <div class="choose-action__buttons">
    <button type="button" (click)="changeFlow(flows.AddCategory)">
      {{ words.AddCategory }}
    </button>
    <button type="button" (click)="changeFlow(flows.RemoveCategory)">
      {{ words.RemoveCategory }}
    </button>
  </div>
</div>

<form
  *ngIf="(flow$ | async) === flows.AddCategory"
  [formGroup]="addForm"
  class="add-category frame form"
>
  <h3 class="title">{{ words.AddCategory }}</h3>
  <select formControlName="table" class="dropdown">
    <option *ngFor="let table of tables">{{ table }}</option>
  </select>

  <input
    class="input"
    formControlName="category"
    type="text"
    required
    value=""
    [placeholder]="words.AddCategoryPlaceholder"
  />
  <button
    class="submit"
    type="button"
    [disabled]="addForm.invalid"
    (click)="openConfirmation()"
  >
    {{ words.Add }}
  </button>
  <button class="go-back" type="button" (click)="resetFlow()">
    {{ words.GoBack }}
  </button>
</form>

<form
  *ngIf="(flow$ | async) === flows.RemoveCategory"
  class="remove-category frame form"
  [formGroup]="removeForm"
>
  <h3 class="title">{{ words.RemoveCategory }}</h3>
  <select formControlName="table" class="dropdown">
    <option *ngFor="let table of tables">{{ table }}</option>
  </select>
  <select
    formControlName="category"
    class="dropdown"
    [ngClass]="{
      disabled: !categories.length
    }"
  >
    <option *ngFor="let category of categories">
      {{ category }}
    </option>
  </select>
  <button
    class="submit"
    type="button"
    [disabled]="removeForm.invalid"
    (click)="openConfirmation()"
  >
    {{ words.Remove }}
  </button>
  <button class="go-back" type="button" (click)="resetFlow()">
    {{ words.GoBack }}
  </button>
</form>

<div *ngIf="isConfirmationOpen$ | async" class="confirmation frame">
  <ng-container
    *ngTemplateOutlet="
      (flow$ | async) === flows.AddCategory
        ? addConfirmation
        : removeConfirmation
    "
  ></ng-container>
</div>

<ng-template #addConfirmation>
  <span class="confirmation__message">
    Добавить <span class="bold">{{ addForm.value.category }}</span> в таблицу
    <span class="bold">{{ addForm.value.table }}</span
    >?</span
  >
  <div class="confirmation__buttons">
    <button type="button" (click)="addCategory()">{{ words.Yes }}</button>
    <button type="button" (click)="closeConfirmation()">
      {{ words.No }}
    </button>
  </div>
</ng-template>

<ng-template #removeConfirmation>
  <span class="confirmation__message">
    Удалить <span class="bold">{{ removeForm.value.category }}</span> из таблицы
    <span class="bold">{{ removeForm.value.table }}</span
    >?</span
  >
  <div class="confirmation__buttons">
    <button type="button" (click)="removeCategory()">{{ words.Yes }}</button>
    <button type="button" (click)="closeConfirmation()">
      {{ words.No }}
    </button>
  </div>
</ng-template>
