:host {
  margin-right: 50px;
}
.add-category {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  padding: 5px;

  &__title {
    font-size: 20px;
    margin: 0 0 15px;
  }

  &__dropdown,
  &__input {
    margin: 0 0 15px;
    padding: 5px;
    font-size: 18px;
  }

  &__submit {
    font-size: 16px;
  }
}
