<div *ngIf="(flow$ | async) === undefined" class="choose-action">
  <span class="title text-beige">{{ words.CategoryManagement }}</span>
  <div class="choose-action__buttons">
    <app-button (click)="changeFlow(flows.AddCategory)">
      {{ words.AddCategory }}
    </app-button>
    <app-button (click)="changeFlow(flows.RemoveCategory)">
      {{ words.RemoveCategory }}
    </app-button>
  </div>
</div>

<form
  *ngIf="(flow$ | async) === flows.AddCategory && !(isConfirmationOpen$ | async)"
  [formGroup]="addForm"
  class="add-category form"
>
  <span class="title text-beige">{{ words.AddCategory }}</span>
  <select formControlName="table" class="dropdown">
    <option *ngFor="let table of tables">{{ table }}</option>
  </select>

  <input
    class="input"
    formControlName="category"
    type="text"
    required
    value=""
    [placeholder]="words.AddCategoryPlaceholder"
  />
  <app-button [disabled]="addForm.invalid" (click)="openConfirmation()">
    {{ words.Add }}
  </app-button>
  <app-button (click)="resetFlow()">
    {{ words.GoBack }}
  </app-button>
</form>

<form
  *ngIf="(flow$ | async) === flows.RemoveCategory && !(isConfirmationOpen$ | async)"
  class="remove-category form"
  [formGroup]="removeForm"
>
  <span class="title text-beige">{{ words.RemoveCategory }}</span>
  <select formControlName="table" class="dropdown">
    <option *ngFor="let table of tables">{{ table }}</option>
  </select>
  <select
    formControlName="category"
    class="dropdown"
    [ngClass]="{
      disabled: !categories.length
    }"
  >
    <option *ngFor="let category of categories">
      {{ category }}
    </option>
  </select>
  <app-button [disabled]="removeForm.invalid" (click)="openConfirmation()">
    {{ words.Remove }}
  </app-button>
  <app-button (click)="resetFlow()">
    {{ words.GoBack }}
  </app-button>
</form>

<div *ngIf="isConfirmationOpen$ | async" class="confirmation">
  <ng-container
    *ngTemplateOutlet="(flow$ | async) === flows.AddCategory ? addConfirmation : removeConfirmation"
  ></ng-container>
</div>

<ng-template #addConfirmation>
  <span class="confirmation__message text-beige">
    Добавить <span class="bold">{{ addForm.value.category }}</span> в таблицу
    <span class="bold">{{ addForm.value.table }}</span
    >?</span
  >
  <div class="confirmation__buttons">
    <app-button (click)="addCategory()">{{ words.Yes }}</app-button>
    <app-button (click)="closeConfirmation()">
      {{ words.No }}
    </app-button>
  </div>
</ng-template>

<ng-template #removeConfirmation>
  <span class="confirmation__message text-beige">
    Удалить <span class="bold">{{ removeForm.value.category }}</span> из таблицы
    <span class="bold">{{ removeForm.value.table }}</span
    >?</span
  >
  <div class="confirmation__buttons">
    <app-button (click)="removeCategory()">{{ words.Yes }}</app-button>
    <app-button (click)="closeConfirmation()">
      {{ words.No }}
    </app-button>
  </div>
</ng-template>
