<form class="add-form" [formGroup]="form" (ngSubmit)="submit()">
  <h3 class="add-form__title">
    {{ words.Add }} '{{ addFormState.category }}' в '{{
      addFormState.table === "expenses"
        ? tableTitles.Expenses
        : tableTitles.Income
    }}'
  </h3>
  <input class="add-form__input" formControlName="money" type="number" />
  <button class="add-form__submit" type="submit" [disabled]="form.invalid">
    {{ words.Add }}
  </button>
  <button class="add-form__close" (click)="closeForm()">
    {{ words.Close }}
  </button>
</form>
