<form class="add-form form" [formGroup]="form">
  <h3 class="title">{{ words.AddToTable }}</h3>
  <select formControlName="table" class="dropdown">
    <option *ngFor="let table of tables">{{ table }}</option>
  </select>
  <select
    formControlName="category"
    class="dropdown"
    [ngClass]="{
      disabled: !categories.length
    }"
  >
    <option *ngFor="let category of categories">
      {{ category }}
    </option>
  </select>
  <input class="input" formControlName="money" type="number" />
  <button
    class="submit"
    type="button"
    [disabled]="form.invalid || form.controls.money.value === 0"
    (click)="openConfirmation()"
  >
    {{ words.Add }}
  </button>
</form>

<div *ngIf="isConfirmationOpen$ | async" class="confirmation frame">
  <span class="confirmation__message">
    Добавить <span class="bold">{{ form.value.money }}</span> в таблицу
    <span class="bold">{{ form.value.table }}</span> в категорию
    <span class="bold">{{ form.value.category }}</span
    >?</span
  >
  <div class="confirmation__buttons">
    <button type="button" (click)="submit()">{{ words.Yes }}</button>
    <button type="button" (click)="closeConfirmation()">
      {{ words.No }}
    </button>
  </div>
</div>
