/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import 'styles/palette';
@import 'styles/scrollbar';

* {
  font-family: 'Rubik', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: $main-bg;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;

  .title {
    margin: 0;
  }

  select,
  input {
    padding: 4px 12px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $beige;
    color: $orange;

    &:focus-visible {
      outline: none;
    }

    &:hover {
      outline: 2px solid $orange;
    }
  }

  input {
    &::placeholder {
      color: rgba($orange, 0.7);
    }
  }
}

.title {
  font-size: 20px;
  margin: 0 0 12px;
  text-align: center;
  font-weight: bold;
  cursor: default;
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;

  &__message {
    text-align: center;
    margin: 0 0 12px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;

    button {
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

// type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
