/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import 'styles/palette';

* {
  font-family: 'Rubik', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: $main-bg;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 100%;

  .title {
    margin: 0;
  }

  .submit,
  .go-back {
    font-size: 16px;
  }

  .dropdown,
  .input {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $beige;
    color: $orange;

    &:focus-visible {
      outline: none;
    }

    &:hover {
      outline: 2px solid $orange;
    }
  }
}

.title {
  font-size: 20px;
  margin: 0 0 12px;
  text-align: center;
  font-weight: bold;
  cursor: default;
}

.confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;

  &__message {
    text-align: center;
    margin: 0 0 12px;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;

    button {
      cursor: pointer;
      font-size: 16px;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

// scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

// type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
