/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import 'styles/palette';
@import 'styles/scrollbar';
@import 'styles/form-shared-styles';

* {
  font-family: 'Rubik', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body {
  background-color: $beige;
}

.title {
  font-size: 20px;
  margin: 0 0 12px;
  text-align: center;
  font-weight: bold;
  cursor: default;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.bold {
  font-weight: bold;
}

// type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
