@import "src/styles/mixins";

:host {
  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto;
  }
}
