:host {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px 3px grey;
}
.table {
  &__header {
    padding: 5px;
    border-bottom: 5px solid black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: chocolate;
    color: white;
  }
  &__second-header {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
  }

  &__category-title,
  &__category-value-title,
  &__controls {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-bottom: 3px solid black;
  }

  &__category-title {
    background-color: royalblue;
  }

  &__category-value-title {
    &.expenses {
      background-color: orangered;
    }

    &.income {
      background-color: darkgreen;
    }
  }

  &__controls {
    background-color: darkslateblue;
  }
}
