<div class="primary-header bg-orange">
  <span>{{ tableTitle }}</span>
</div>
<div class="secondary-header">
  <div class="category-title bg-blue">{{ words.Category }}</div>
  <div
    class="category-value-title"
    [ngClass]="{
      'bg-red': tableTitle === tableTitles.Expenses,
      'bg-green': tableTitle === tableTitles.Income
    }"
  >
    {{ tableType === tableTypes.Expenses ? words.Spent : words.Received }},
    {{ words.Currency }}
  </div>
</div>

<ng-container *ngIf="tableData$ | async as tableData">
  <div class="content">
    <app-table-item
      *ngFor="let item of tableData"
      [item]="item"
      [table]="
        tableTitle === tableTitles.Expenses
          ? tableTypes.Expenses
          : tableTypes.Income
      "
    ></app-table-item>
  </div>

  <ng-container *ngIf="tableData.length">
    <app-table-item
      *ngIf="tableSumItem$ | async as tableSumItem"
      [item]="tableSumItem"
      [isSumItem]="true"
    ></app-table-item>
  </ng-container>
</ng-container>
