<div class="table">
  <div class="table__header">
    <span>{{ tableTitle }}</span>
  </div>
  <div class="table__second-header">
    <div class="table__category-title">{{ words.Category }}</div>
    <div
      class="table__category-value-title"
      [ngClass]="{
        expenses: tableTitle === tableTitles.Expenses,
        income: tableTitle === tableTitles.Income
      }"
    >
      {{ tableTitle === tableTitles.Expenses ? words.Spent : words.Received }},
      {{ words.Currency }}
    </div>
  </div>

  <app-table-item
    *ngFor="let item of data"
    [item]="item"
    [table]="
      tableTitle === tableTitles.Expenses
        ? tableTypes.Expenses
        : tableTypes.Income
    "
  ></app-table-item>

  <app-table-item
    class="total-sum"
    [item]="{ name: words.Total, value: calcSum() }"
    [displayControls]="false"
  ></app-table-item>
</div>
