@import "src/styles/mixins";

:host {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  box-sizing: border-box;
  @include boxStyles();
  padding: 0;

  .primary-header {
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .secondary-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .category-title,
  .category-value-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 5px 10px;
  }

  .content {
    width: 100%;
    box-sizing: border-box;
    @include scrollBox();
    padding-right: 0;
  }
}
