@import 'src/styles/mixins';
@import 'src/styles/palette';

:host {
  @include boxStyles($orange, $beige);

  .table {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100%;
  }

  .primary-header {
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: $beige;
  }

  .secondary-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .category-title,
  .category-value-title {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: $beige;
    padding: 4px 12px;
  }

  .content {
    width: 100%;
    box-sizing: border-box;
    @include scrollBox();
  }
  .table-row {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border-bottom: 1px dashed $brown;
    color: $brown;
    padding: 4px 0;

    &.last {
      border: none;
    }

    .category-name,
    .category-value {
      font-size: 16px;
      font-weight: bold;
      text-align: center;
    }

    &.sum-item {
      border: none;
      border-top: 2px solid $brown;
    }
  }
}
